/* Used for links replaced by hover, e.g. any item of type "link" will be
 * formated using this class */
.hover-link {
	background: url(./images/extlink.gif) no-repeat 0 58%;
	text-decoration: underline;
	padding-left: 16px;
}

/* Used to format the popup displayed by hover. Taken from the domTT examples */
div.hover
{
	background-color: #333333;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	font-family: "Trebuchet MS", sans-serif;
	width: 250px;
	left: 0;
	top: 0;
	padding: 4px;
	position: absolute;
	text-align: left;
	z-index: 20;
	-moz-border-radius: 0 10px 10px 10px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=87);
	-moz-opacity: .87;
	-khtml-opacity: .87;
	opacity: .87;
}

/* Used as container for the spinner _and_ the websnapr image itself. Using this
 * wrapper and z-index below enables us to overlay the websnapr image with the
 * spinner */
.hover-websnapr {
	display: block;
	width: 202px;
	height: 152px;
}

/* spinner to display while loading websnapr images */
.hover-websnapr-spinner {
	background:transparent url(./images/spinner.gif) no-repeat 0 0;
	position: absolute;
	border:0 none;
	width: 43px;
	height: 11px;
	left: 80px;
	bottom: 70px;  
	z-index: 1;
}

/* websnapr image */
.hover-websnapr-img {
	position: absolute;
	border:0 none;
	width: 202px;
	height: 152px;
	z-index: 2;
}

/* Used for all items with type "acronym" */
acronym {
	border-bottom: 1px dotted black;
	cursor: help;
}
